/* CSS */
.button-73 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: flex;
  margin: auto;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
  padding: 0;
  line-height: 50px;
  text-align: center;
  text-decoration: solid !important;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.button-73:hover {
  background-color: #fff;
}

.button-73:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* Add a simple arrow icon at the end of the button */
.button-73::after {
  content: '→'; /* Simple right arrow */
  font-size: 1.5em; /* Adjust size */
  color: #422800;
  position: absolute;
  right: 10px; /* Position arrow towards the end */
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

/* Change arrow color on hover for better interaction */
.button-73:hover::after {
  color: #fbeee0;
}

@media (min-width: 768px) {
  .button-73 {
    min-width: 120px;
    padding: 0 25px;
  }
}
