<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferred Equine</title>
</head>
<body style="background-color: bisque;">

    <h1 style="text-align:center;color:hsl(5, 65%, 63%); font-weight: bold;">Preferred Equine</h1>

    <form action="/keenland" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <label for="saledate">ENTER SALE DATE (YYYY-MM-DD):</label>
        <input type="text" id="saledate" name="saledate" pattern="\d{4}-\d{2}-\d{2}" required>
        <label for="saleyear">ENTER SALE YEAR (YYYY):</label>
        <input type="text" id="saleyear" name="saleyear" pattern="\d{4}" required>
        <label for="salecode">ENTER SALE CODE:</label>
        <input type="text" id="salecode" name="salecode" required>
        <label for="type">ENTER TYPE:</label>
        <input type="text" name="type" required>
        <button type="submit">FORMAT</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
{% endif %}

{% if data %}
    <h2>CSV Data</h2>
    {{ data|safe }}
{% endif %}

</body>
</html>
